@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
/*variables pagina*/
:root{

}

.header_prin{
    background-color: #fffedb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 5px 10%;
}
.header_prin .logo_header{
    cursor: pointer;
}

.header_prin .logo_header img{
    height: 85px;
    margin: auto;
    transition: all 0.3s;
}

.header_prin .logo_header img:hover{
    transform: scale(1.1);
}
.header_prin .nav_linksp{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.header_prin .nav_linksp li{
    display: inline-block;
    padding: 0 20px;
    margin-right: 20px;
}
.header_prin .nav_linksp .btn_c{
    margin-left: auto; 
}
.header_prin .nav_linksp li:hover{
    transform: scale(1.1);
}

.header_prin .nav_linksp a{
    color: #1c5809ea;
    text-decoration: none;
}

.container_p{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #1c5809ea;
}

.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text_p{
    width: 100%;
    padding-right: 150px;
}

.text_p h1{
    font-size: 50px;
    color:#fffedb;
}

.text_p p{
    margin-top: 30px;
    color:#fffedb;
}

.btn_text-p{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    background: #1c5809ea;
    color: #fffedb;
    border-radius: 8px;
    border: 3px solid #fffedb;
    cursor: pointer;
    transition: all 300ms;
    text-decoration: none;
}

.btn_text-p:hover{
    background: #a6a81b;
    border: 3px solid white;
    color: white;
}

.image_cover{
    width: 100%;
}

.image_cover img{
    width: 550px;
}

.text_se{
    padding-right: 150px;
    text-align: center;
    margin-top: 50px;
}

.text_se h1{
    font-size: 60px;
}
.container__box-cardPrimary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary {
    max-width: 300px; /* Reducir el ancho para una mejor alineación */
    padding: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 20px;
    transition: all 0.3s;
    background-color: #ffffff; /* Agregar un fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}

.box__card-primary:hover {
    transform: translateY(-5px); /* Añadir una ligera elevación al pasar el cursor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ajustar la sombra en hover */
}

.box__card-primary img {
    width: 100%; /* Ajustar el tamaño de la imagen al contenedor */
    border-radius: 10px; /* Agregar un borde redondeado a las imágenes */
    margin-bottom: 20px; /* Espacio inferior entre la imagen y el texto */
}

.box__card-primary h2 {
    font-size: 24px; /* Reducir el tamaño del título */
    margin-bottom: 10px; /* Espacio inferior entre el título y el párrafo */
}

.box__card-primary p {
    font-size: 16px; /* Tamaño del texto */
    color: #666; /* Color de texto gris */
    line-height: 1.5; /* Altura de línea para una mejor legibilidad */
}
.box__card-primary i{
    margin-left: 135px;
    cursor: pointer;
}

.footer{
    position: relative;
    width: 100%;
    background: #1c5809ea;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}

.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}

.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}

.menu-icon:hover{
    opacity: 1;
}

.text_f{
    color: white;
    text-align: center;
    margin-top:15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.fa-facebook-f{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.fa-instagram{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.fa-x-twitter{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.fa-whatsapp{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.container-card {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan a la siguiente línea */
}

.card-person {
    width: calc(25% - 40px); /* 25% para mostrar 4 cartas */
    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
    background: #ffffff;
    cursor: default;
    display: flex;
    flex-direction: column; /* Para que el contenido se alinee verticalmente */
    justify-content: center;
    align-items: center;
}

.card-person img {
    width: 100%;
    height: auto; /* Evita que la imagen se estire */
    border-radius: 25px 25px 0 0; /* Para que la esquina superior de la imagen sea redondeada */
}

.card-person .content-person {
    padding: 15px;
    text-align: center;
}

.card-person .content-person p {
    line-height: 1.5;
}

.card-person .content-person h3 {
    font-weight: 600;
    margin-bottom: 15px;
    color: black;
}

.card-person .content-person a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: black;
    font-size: 20px;
}